/*Reset basic block sattings*/
*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-family: Montserrat;
  font-weight: 500;
  background-color: #fafafa;
}

/*--------Container styles------------------*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1046px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/*--------Header styles------------------*/

.header__main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__main_logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__main_menu {
  margin-left: 133px;
}

@media (max-width: 992px) {
  .header__main_menu {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .header__main_menu {
    margin-left: 40px;
  }
}

@media (max-width: 479px) {
  .header__main_menu {
    margin-left: 20px;
  }
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin-right: 21px;
}

.menu__link {
  color: #737373;
  line-height: calc(24 / 14 * 100%);
  font-weight: 700;
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

/*-------------------MAIN----------------------------------*/
.main__content {
  flex: 1 1 auto;
}

.main__content__promo {
}

.main__services {
  margin-top: -111px;
  position: relative;
  z-index: 2;
}

.main__advantages {
  padding: 80px 0;
}

@media (max-width: 992px) {
  .main__advantages {
    padding: 50px 0;
  }
}

@media (max-width: 769px) {
  .main__advantages {
    padding: 30px 0;
  }
}

.main__advices {
  padding: 80px 0;
}

@media (max-width: 992px) {
  .main__advices {
    padding: 50px 0;
  }
}

@media (max-width: 769px) {
  .main__advices {
    padding: 30px 0;
  }
}

.main__info {
  padding: 80px 0;
}

@media (max-width: 992px) {
  .main__info {
    padding: 50px 0;
  }
}

@media (max-width: 769px) {
  .main__info {
    padding: 30px 0;
  }
}

.main__clients {
}

/*--------------------HEADER-BLOCK---------------------------*/
.header-block {
  text-align: center;
}

.header-block__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.header-block__title:not(:last-child) {
  margin-bottom: 10px;
  letter-spacing: 0.2px;
}

@media (max-width: 769px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 479px) {
  .header-block__title {
    font-size: 30px;
  }
}

.header-block__description {
  color: #737373;
  line-height: 142%;
}

/*--------------------PROMO----------------------------------*/

.promo {
  position: relative;
}
.promo__content_wrapper {
  max-width: 329px;
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 992px) {
  .promo__content_wrapper {
    padding: 120px 0 191px 0;
  }
}

@media (max-width: 479px) {
  .promo__content_wrapper {
    padding: 115px 0 160px 0;
  }
}

.promo__content_wrapper > *:not(:last-child) {
  margin-bottom: 35px;
}

.promo__title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  font-weight: 800;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .promo__title {
    font-size: 40px;
  }
}

.promo__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .promo__text {
    color: #585757;
  }
}

.promo__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.promo__button {
  border-radius: 37px;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  letter-spacing: 0.2px;
  line-height: 150%;
  padding: 0 36px;
  text-align: center;
  margin: 10px 0;
}

.promo__button:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 479px) {
  .promo__button {
    flex: 1 1 100%;
  }
}

.button_orange {
  background: #ff7b47;
  color: #fff;
}

.button_opacity {
  border: 1px solid #0d5c63;
  color: #0d5c63;
}

.promo__image {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1300px) {
  .promo__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .promo__image img {
    opacity: 0.5;
  }
}

/*-------------------Services------------------------------------*/
.services {
}

.services__container {
}

.services__body {
}

@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.services__column {
  flex: 0 1 33.333%;
}

@media (min-width: 670px) {
  .services__column {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }

  .services__column:not(:last-child) {
    margin-bottom: 30px;
  }

  .services__column:last-child {
    flex: 1 1 100%;
  }
}

.services__item {
  background-color: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  height: 100%;
  padding: 35px;
}

@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}

.item-service-green {
  background-color: #0d5c63;
  color: #fff;
}

.item-service-green .item-service__title {
  color: #fff;
}

.item-service-green .item-service__text {
  color: #fff;
}

.item-service {
}

.item-service > *:not(:last-child) {
  margin-bottom: 10px;
}

.item-service__icon {
}

.item-service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.item-service__text {
  color: #737373;
  line-height: 143%;
}

/*-------------------Advantages---------------------------------*/

.advantages__container {
}

.advantages__header {
  margin-bottom: 50px;
}

@media (max-width: 764px) {
  .advantages__header {
    margin-bottom: 25px;
  }
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px -30px;
}

.advantages__column {
  flex: 0 1 25%;
  margin-bottom: 30px;
  padding: 0 15px;
}

@media (max-width: 1024px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 764px) {
  .advantages__column {
    flex: 1 1 100%;
  }
}

.advantages__item {
  background-color: #fff;
  font-weight: 700;
  padding: 30px;
  text-align: center;
}

.advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}

.advantages__icon {
  align-items: flex-end;
  display: flex;
  height: 48px;
  justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 142%;
}

.advantages__text {
  color: #737373;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

/*-------------------Advices------------------------------------*/

.advices {
}

.advices__container {
}

.advices__header {
  padding: 45px 0;
}

@media (max-width: 764px) {
  .advices__header {
    padding: 15px 0;
  }
}

.advices__cards-body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.advices__column {
  flex: 0 1 25%;
  margin-bottom: 30px;
  padding: 0 15px;
}

@media (max-width: 1024px) {
  .advices__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 764px) {
  .advices__column {
    flex: 1 1 100%;
  }
}

.advices__item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.advices__description {
  padding: 30px;
  flex: 1 1 auto;
}

.advices__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}

.advices__text {
  color: #737373;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.advices__img {
  display: block;
  padding-bottom: 60%;
}

/*-------------------Info---------------------------------------*/
.info {
  background-color: #fff;
}

.info__container {
}

.info__header {
  margin-bottom: 100px;
}

@media (max-width: 450px) {
  .info__header {
    margin-bottom: 30px;
  }
}

.info__body {
  display: flex;
  align-items: flex-start;
}

.info__video {
  flex: 0 0 57%;
  position: relative;
  padding-bottom: 42.25%;
}

.info__video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.info__content {
  flex: 1 1 auto;
  letter-spacing: 0.2px;
  padding: 20px 0 0 121px;
}

.info__title {
  font-size: 40px;
  font-weight: 800;
  line-height: 142%;
}

.info__title:not(:last-child) {
  margin-bottom: 10px;
}

.info__text {
  color: #737373;
  line-height: 142%;
}

.info__items {
  margin-top: 50px;
}

.info__item {
}

.item-info {
  display: flex;
}

.item-info:not(:last-child) {
  margin-bottom: 30px;
}

.item-info__icon {
  flex: 0 0 32px;
}

.item-info__content {
  flex: 1 1 auto;
  line-height: 150%;
  padding-left: 20px;
}

.item-info__title {
  font-size: 16px;
  font-weight: 700;
}

.item-info__title:not(:last-child) {
  margin-bottom: 5px;
}

.item-info__text {
  color: #737373;
  line-height: 142%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 225px;
  white-space: nowrap;
}

@media (max-width: 950px) {
  .info__header {
    margin-bottom: 50px;
  }

  .info__content {
    padding: 0px 100px;
  }

  .info__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .info__video {
    margin-top: 30px;
    padding-bottom: 56.25%;
  }

  .info__title {
    font-size: 24px;
    text-align: center;
  }
}

/*-------------------Clients------------------------------------*/

.clients {
  padding-bottom: 20px;
  position: relative;
}

.clients__container {
}

.clients__items {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.clients__item {
  flex: 0 1 16.6667%;
  min-width: 140px;
  padding: 8px 15px;
  text-align: center;
}

.clients__item img {
  max-width: 100%;
}

.subscribe {
}

.clients::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #252b42;
  width: 100%;
  height: 77px;
}

.subscribe__body {
  align-items: center;
  background-color: #17213c;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  padding: 30px 50px;
  position: relative;
  z-index: 2;
}

.subscribe__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
  max-width: 266px;
}

.subscribe__form {
  display: flex;
  flex: 0 1 50%;
  align-items: center;
}

.subscribe__input {
  color: #737373;
  flex: 1 1 auto;
  min-height: 58px;
  padding: 0 20px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-right: 0;
  border-radius: 5px 0px 0px 5px;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  color: #fff;
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 58px;
  padding: 0 22px;
}

/*-------------------FOOTER-------------------------------------*/
.footer_main {
}
