/*Reset basic block sattings*/
*,
*::before,
*::after {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-family: Montserrat;
    font-weight: 500;
}

/*--------Container styles------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
}

/*--------Header styles------------------*/

.header__main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

.header__main_logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;

}

.header__main_menu {
    margin-left: 133px;
}

.menu {

}

.menu__list {

}

.menu__item {

}

.menu__link {
}
 
